/*Reset Styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-----------------------------по умолчанию--------------------------------------------*/


body {
	
}
.container {

}
.website__background {
	
}
.header {
	margin: 0 0;
	position: fixed;
	height: 8%;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border: 2px solid #000;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-image: url();
	z-index: 2;
	box-shadow: inset 10px  10px 50px rgba(50, 150, 200, 0.5);

	
}

.megaphone__image {
	cursor: pointer;
	height: 65px;
	position: fixed;
	top: 1%;
	left: 46%;
}
.megaphone__image:hover {
	background-color: rgba(131, 131, 131, 0.664);

}
h1 {
	cursor: pointer;
	position: fixed;
	top: 0.5%;
	left: 50%;
	padding-top: 10px;
	font-size: 45px;
	font-family: Georgia, serif;
	font-weight: 600;
	text-align: left;
	 
}
.main__content {

	background-position: 1050px 150px;
	width: 2500px;
	height:1000px;
	padding: 50px 100px;
	margin: 0px 0px 0px 0px;
}
.car__bg{
	position: relative;
	top: 400px;
	left:150px;
}

@keyframes car-moving{
	0%{ 
		transform: translate(0px, 0px);;  
	}
	3.7%{
		transform: translate(90px, 0px);;
	}
	7.4%{
		transform: translate(180px, 0px);;
	  }
	11.1%{ 
		transform: translate(270px, 0px);;  
	}
	14.8%{ 
		transform: translate(360px, 0px);;  
	}
	18.5%{ 
		transform: translate(450px, 0px);;  
	}
	22.2%{ 
		transform: translate(540px, 0px);;  
	}
	25.9%{ 
		transform: translate(630px, 0px);;  
	}
	29.6%{ 
		transform: translate(720px, 0px);;  
	}
	33.3%{ 
		transform: translate(810px, 0px);;  
	}
	37%{ 
		transform: translate(900px, 0px);;  
	}
	40.7%{ 
		transform: translate(990px, 0px);;  
	}
	44.4%{
		transform: translate(1080px, 0px);;
	}
	48.1%{
		transform: translate(1170px, 0px);;
	  }
	51.8%{ 
		transform: translate(1260px, 0px);;  
	}
	55.5%{ 
		transform: translate(1350px, 0px);;  
	}
	59.2%{ 
		transform: translate(1440px, 0px);;  
	}
	62.9%{ 
		transform: translate(1530px, 0px);;  
	}
	66.6%{ 
		transform: translate(1620px, 0px);;  
	}
	70.3%{ 
		transform: translate(1710px, 0px);;  
	}
	74%{ 
		transform: translate(1800px, 0px);;  
	}
	77.7%{ 
		transform: translate(1890px, 0px);;  
	}
	81.4%{ 
		transform: translate(1980px, 0px);;  
	}
	85.1%{ 
		transform: translate(2070px, 0px);;  
	}
	88.8%{ 
		transform: translate(2160px, 0px);;  
	}
	92.5%{ 
		transform: translate(2250px, 0px);;  
	}
	96.2%{ 
		transform: translate(2340px, 0px);;  
	}
	100%{ 
		transform: translate(2430px, 0px);;  
	}
}
.road {
	position: absolute;
	top: 70px;
	left: 50px;
 
}


@keyframes car-moving{
	0%{ 
		transform: translate(0px, 0px);;  
	}
	5%{
		transform: translate(90px, 0px);;
	}
	10%{
		transform: translate(180px, 0px);;
	  }
	15%{ 
		transform: translate(270px, 0px);;  
	}
	20%{ 
		transform: translate(360px, 0px);;  
	}
	25%{ 
		transform: translate(450px, 0px);;  
	}
	30%{ 
		transform: translate(540px, 0px);;  
	}
	35%{ 
		transform: translate(630px, 0px);;  
	}
	40%{ 
		transform: translate(720px, 0px);;  
	}
	45%{ 
		transform: translate(810px, 0px);;  
	}
	50%{ 
		transform: translate(900px, 0px);;  
	}
	55%{ 
		transform: translate(990px, 0px);;  
	}
	60%{
		transform: translate(1080px, 0px);;
	}
	65%{
		transform: translate(1170px, 0px);;
	  }
	70%{ 
		transform: translate(1260px, 0px);;  
	}
	75%{ 
		transform: translate(1350px, 0px);;  
	}
	80%{ 
		transform: translate(1440px, 0px);;  
	}
	85%{ 
		transform: translate(1530px, 0px);;  
	}
	90%{ 
		transform: translate(1620px, 0px);;  
	}
	95%{ 
		transform: translate(1710px, 0px);;  
	}
	100%{ 
		transform: translate(1800px, 0px);;  
	}
	75%{ 
		transform: translate(1890px, 0px);;  
	}
	80%{ 
		transform: translate(1980px, 0px);;  
	}
	85%{ 
		transform: translate(2070px, 0px);;  
	}
	90%{ 
		transform: translate(2160px, 0px);;  
	}
	95%{ 
		transform: translate(2250px, 0px);;  
	}
	100%{ 
		transform: translate(2340px, 0px);;  
	}
}
.car {
	position: relative;
	top: 150px;
	left: -1000px;
	z-index: 1;
	transform: translate(0px, 0px);
 
	animation-name: car-moving;
	animation-duration: 0.6s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	/*animation-direction: alternate;*/
  	animation-delay: 0s;
  	animation-fill-mode: forwards;
}

.rotate__wheel1 {
	position: absolute;
	top: 352px;
	left: -449px;
	width: 110px;
	z-index: 2;

	animation-name: white-cirlce;
  	animation-duration: 0.6s;
  	animation-timing-function: linear;
  	animation-iteration-count:  infinite;
  	animation-delay: 0s;
  	animation-fill-mode: forwards;
}
.rotate__wheel2 {
	position: absolute;
	top: 350px;
	left: -860px;
	width: 110px;
	transform: rotate(0deg);
	z-index: 2;

	animation-name: white-cirlce;
	animation-duration: 0.6s;
  	animation-timing-function: linear;
  	animation-iteration-count:  infinite;
  	animation-delay: 0s;
  	animation-fill-mode: forwards;
}
@keyframes white-cirlce{
	0%{ 
		transform: rotate(0deg);  
	}
	8.3%{
		transform: rotate(30deg);
	}
	16.6%{
		transform: rotate(60deg);
	  }
	25%{ 
		transform: rotate(90deg);  
	}
	33.3%{ 
		transform: rotate(120deg);  
	}
	41.6%{ 
		transform: rotate(150deg);  
	}
	50%{ 
		transform: rotate(180deg);  
	}
	58.3%{ 
		transform: rotate(210deg);  
	}
	66.6%{ 
		transform: rotate(240deg);  
	}
	75%{ 
		transform: rotate(270deg);  
	}
	83.3%{ 
		transform: rotate(300deg);  
	}
	91.6%{ 
		transform: rotate(330deg);  
	}
	100{ 
		transform: rotate(360deg);  
	}
 }

 @keyframes white-cirlce{
	0%{ 
		transform: translate(0px, 0px);;  
	}
	5%{
		transform: translate(90px, 0px);;
	}
	10%{
		transform: translate(180px, 0px);;
	  }
	15%{ 
		transform: translate(270px, 0px);;  
	}
	20%{ 
		transform: translate(360px, 0px);;  
	}
	25%{ 
		transform: translate(450px, 0px);;  
	}
	30%{ 
		transform: translate(540px, 0px);;  
	}
	35%{ 
		transform: translate(630px, 0px);;  
	}
	40%{ 
		transform: translate(720px, 0px);;  
	}
	45%{ 
		transform: translate(810px, 0px);;  
	}
	50%{ 
		transform: translate(900px, 0px);;  
	}
	55%{ 
		transform: translate(990px, 0px);;  
	}
	60%{
		transform: translate(1080px, 0px);;
	}
	65%{
		transform: translate(1170px, 0px);;
	  }
	70%{ 
		transform: translate(1260px, 0px);;  
	}
	75%{ 
		transform: translate(1350px, 0px);;  
	}
	80%{ 
		transform: translate(1440px, 0px);;  
	}
	85%{ 
		transform: translate(1530px, 0px);;  
	}
	90%{ 
		transform: translate(1620px, 0px);;  
	}
	95%{ 
		transform: translate(1710px, 0px);;  
	}
	100%{ 
		transform: translate(1800px, 0px);;  
	}
	75%{ 
		transform: translate(1890px, 0px);;  
	}
	80%{ 
		transform: translate(1980px, 0px);;  
	}
	85%{ 
		transform: translate(2070px, 0px);;  
	}
	90%{ 
		transform: translate(2160px, 0px);;  
	}
	95%{ 
		transform: translate(2250px, 0px);;  
	}
	100%{ 
		transform: translate(2340px, 0px);;  
	}
}



.article__container {
	position: relative;
	margin: 100px 260px;
	background-color: rgba(255, 255, 255, 0.746);
	width: 600px;
	height: 1000px;
	border: 2px solid #000;
	box-shadow: 10px -10px 1px rgba(0,0,0,0.5)
}	

.article__content {
	z-index: 2;
}
.article__maintext {
	font-weight: 600;
	text-align: center;
	font-size: 25px;
	padding: 50px 30px 0px 0px;
	letter-spacing: 10px;
	line-height: 35px;
	text-transform: uppercase;
	text-indent: -25px;
	margin: 0px 0px -15px 0px;
}
.article__text {
	text-align: justify;
	text-indent: 50px;
	font-size: 18px;
	padding: 30px 25px 0px 25px;
}

.css_img {
	
	margin: 5px 0px 15px 150px;
}
.css_img2{
	
	margin: 5px 0px 10px 150px;
}
.text__sourse {
	margin: 30px -10px 0px 0px;
	text-align: right;


}
.news_line__image {
	position: absolute;
	top: 15px;
	left: 15px; /*242*/
	width: 35px;
	cursor: pointer;
}
.news__line {
	font-size: 21px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 500;
	cursor: pointer;
	text-align: center;
	position: relative;
	top: 21px;
	left: 21px; /*-21*/
	text-decoration: underline;
	text-transform: uppercase;
}

.rotate__wheel {
	position: absolute;
	top: -250px;
	left: -100px;
	width: 150px;
	transform: rotate(0deg);
	z-index: 1;

	animation-name: another-cirlce;
  	animation-duration: 0.00001s;
  	animation-timing-function: linear;
  	animation-iteration-count:  infinite;
  	animation-direction: alternate;
  	animation-delay: 0s;
  	animation-fill-mode: forwards;
}

@keyframes another-cirlce{
	0%{ 
		transform: rotate(0deg);  
	}
	8.3%{
		transform: rotate(30deg);
	}
	16.6%{
		transform: rotate(60deg);
	  }
	25%{ 
		transform: rotate(90deg);  
	}
	33.3%{ 
		transform: rotate(120deg);  
	}
	41.6%{ 
		transform: rotate(150deg);  
	}
	50%{ 
		transform: rotate(180deg);  
	}
	58.3%{ 
		transform: rotate(210deg);  
	}
	66.6%{ 
		transform: rotate(240deg);  
	}
	75%{ 
		transform: rotate(270deg);  
	}
	83.3%{ 
		transform: rotate(300deg);  
	}
	91.6%{ 
		transform: rotate(330deg);  
	}
	100{ 
		transform: rotate(360deg);  
	}
 }

